<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/ccs/style.css">
</head>
<body>
    <div class="container">
        <div class="container">
            <h1>Form Submitted Successfully!</h1>
            <p>Name: <%= name %></p>
            <p>Email: <%= email %></p>
            <p>Password: <%= password %> (Masked)</p>
        <a href="index.ejs">Go back</a>
    </div>
</body>
</html>